This project helps you find out how much money you would have made on your favorite stock if you invested a certain amount in it just before the beginning of the Pandemic.

Importing packages

In [71]:
import pandas as pd
import yfinance as yf

Get the historical data

In [72]:
stock = yf.Ticker('TCS.NS')
hist = stock.history(period='max')

In [73]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-08-12,28.688598,29.633156,28.688598,29.410908,212976,0.0,0.0
2002-08-13,29.447960,29.920239,28.799735,29.012722,153576,0.0,0.0
2002-08-14,29.077540,29.077540,26.466116,27.012480,822776,0.0,0.0
2002-08-15,27.012480,27.012480,27.012480,27.012480,0,0.0,0.0
2002-08-16,26.873581,28.151510,26.484644,26.947662,811856,0.0,0.0
...,...,...,...,...,...,...,...
2022-05-06,3459.000000,3474.500000,3424.500000,3432.600098,2010812,0.0,0.0
2022-05-09,3398.000000,3456.000000,3346.850098,3445.100098,2481830,0.0,0.0
2022-05-10,3434.000000,3464.800049,3422.000000,3438.750000,1622685,0.0,0.0
2022-05-11,3435.000000,3448.449951,3382.149902,3412.000000,1841769,0.0,0.0
2022-05-12,3378.000000,3449.699951,3350.100098,3408.649902,2806399,0.0,0.0

Let's assume that we invest 100000/- (One Lakh Rupees)

In [74]:
invt_amt = 100000

let's assume that we start our investment journey on the day when Covid was declared as a Pandemic by WHO.

In [75]:
invt_date = '2020-03-09'
exists = invt_date in hist.index
if exists == False:
    print('Enter a value which is in the dataframe')

Price of the stock on 09-03-2020

In [76]:
choosen_price = round(hist.loc[invt_date,:]['Close'],2)
choosen_price

1915.32

Number of stocks we can buy with the given amount.

In [77]:
nums_stock = round(float(invt_amt)/choosen_price,2)
nums_stock

52.21

Current Stock price of the tick.

In [78]:
curr_price = round(hist["Close"].iloc[-1],2)
curr_price

3408.65

Current Value of your Portfolio.

In [79]:
stock_valu = round(nums_stock * curr_price,2)
print('Current Value of your Portfolio:',stock_valu)

Current Value of your Portfolio: 177965.62

The amount of Profit you Made.

In [80]:
net  = round(stock_valu - invt_amt,2)
if stock_valu < float(invt_amt):
    print('You would have lost: ', net)
else:
   print('You would have gained: ', net)

You would have gained:  77965.62