How do I create a pandas DataFrame from another object?

In [2]:
import pandas as pd 
pd.DataFrame({'id' : [100,101,102],'color' : ['red','blue','red']},columns=['color','id'])

  color   id
0   red  100
1  blue  101
2   red  102

In [6]:
pd.DataFrame({'id' : [100,101,102],'color' : ['red','blue','red']},columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [5]:
pd.DataFrame({'id' : [100,101,102],'color' : ['red','blue','red']},columns=['id','color'],index=['a','b','c'])

    id color
a  100   red
b  101  blue
c  102   red

In [8]:
df = pd.DataFrame({'id' : [100,101,102],'color' : ['red','blue','red']},columns=['id','color'],index=['a','b','c'])

In [9]:
pd.DataFrame([[100,'red'],[101,'blue'],[103,'red']])

     0     1
0  100   red
1  101  blue
2  103   red

In [10]:
pd.DataFrame([[100,'red'],[101,'blue'],[103,'red']],columns=['id','color'])

    id color
0  100   red
1  101  blue
2  103   red

In [11]:
import numpy as np
arr = np.random.rand(4,2)
arr

array([[0.10969151, 0.29692667],
       [0.70416789, 0.98424723],
       [0.41708021, 0.88506972],
       [0.37543492, 0.7210727 ]])

In [13]:
pd.DataFrame(arr, columns=[1,2])

          1         2
0  0.109692  0.296927
1  0.704168  0.984247
2  0.417080  0.885070
3  0.375435  0.721073

In [17]:
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10 )})

   student  test
0      100    60
1      101    85
2      102    64
3      103    90
4      104    96
5      105    97
6      106    65
7      107    69
8      108    63
9      109    79

In [18]:
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10 )}).set_index('student')

         test
student
100        64
101        70
102        83
103        74
104        98
105        70
106        80
107        97
108        72
109        72

In [19]:
s = pd.Series(['round','square'],index=['c','b'],name='shape')

In [20]:
s

c     round
b    square
Name: shape, dtype: object

In [21]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [ ]:
pd.concat([df,s],axis= 1)